<a href="https://colab.research.google.com/github/ogut77/LogisticRegression/blob/master/Santander.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [41]:
import pandas as pd
from google.colab import drive

# This will prompt for authorization.
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
!pip install kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.6/dist-packages (1.5.3)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.22)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.11.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.6/dist-packages (from kaggle) (2019.3.9)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.5.3)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.18.4)
Requirement already satisfied: tqdm in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.28.1)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.6/dist-packages (from kaggle) (3.0.0)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (3.0.4)
Requirement already satisfied: idna<2.7,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (2.6)
Requirement already satisfied: text-unidecode==1.2 in /usr/local/lib/python3.6/dist-packages (from python-slugify->kaggle) (1.2)

In [0]:
!mkdir '/content/My Drive/Santander/.kaggle/'

mkdir: cannot create directory ‘/content/My Drive/Santander/.kaggle/’: No such file or directory

In [0]:
!ls '/content/.kaggle/'

kaggle.json

In [0]:
import json
token = {"username":"hulisi","key":"c8e4243c2a2bbd6404ebd5df53b79b32"}
with open('/content/.kaggle/kaggle.json', 'w') as file:
    json.dump(token, file)

In [0]:
!cp '/content/My Drive/Santander/.kaggle/kaggle.json' ~/.kaggle/kaggle.json

cp: cannot stat '/content/My Drive/Santander/.kaggle/kaggle.json': No such file or directory

In [0]:
!kaggle config set -n path -v{/content/santander}

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /root/.kaggle/kaggle.json'
- path is now set to: {/content/santander}

In [0]:
!kaggle competitions download -c santander-customer-transaction-prediction -p /content/santander

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /root/.kaggle/kaggle.json'
Downloading train.csv.zip to /content/santander
 97% 119M/122M [00:00<00:00, 121MB/s]
100% 122M/122M [00:01<00:00, 124MB/s]
Downloading sample_submission.csv.zip to /content/santander
  0% 0.00/463k [00:00<?, ?B/s]
100% 463k/463k [00:00<00:00, 71.5MB/s]
Downloading test.csv.zip to /content/santander
 93% 114M/122M [00:00<00:00, 107MB/s]
100% 122M/122M [00:00<00:00, 144MB/s]

In [2]:
!ls '/content/'

'{'	       sample_submission.csv	   test.csv	  train.csv.zip
 drive	       sample_submission.csv.zip   test.csv.zip
 sample_data   santander		   train.csv

In [0]:
!unzip \*.zip

Archive:  sample_submission.csv.zip
  inflating: sample_submission.csv

Archive:  train.csv.zip
  inflating: train.csv

Archive:  test.csv.zip
  inflating: test.csv

3 archives were successfully processed.

In [41]:
import pandas as pd
d = pd.read_csv('/content/train.csv')
d.head()

,ID_code,target,var_0,var_1,var_2,var_3,var_4,var_5,var_6,var_7,...,var_190,var_191,var_192,var_193,var_194,var_195,var_196,var_197,var_198,var_199
0,train_0,0,8.9255,-6.7863,11.9081,5.0930,11.4607,-9.2834,5.1187,18.6266,...,4.4354,3.9642,3.1364,1.6910,18.5227,-2.3978,7.8784,8.5635,12.7803,-1.0914
1,train_1,0,11.5006,-4.1473,13.8588,5.3890,12.3622,7.0433,5.6208,16.5338,...,7.6421,7.7214,2.5837,10.9516,15.4305,2.0339,8.1267,8.7889,18.3560,1.9518
2,train_2,0,8.6093,-2.7457,12.0805,7.8928,10.5825,-9.0837,6.9427,14.6155,...,2.9057,9.7905,1.6704,1.6858,21.6042,3.1417,-6.5213,8.2675,14.7222,0.3965
3,train_3,0,11.0604,-2.1518,8.9522,7.1957,12.5846,-1.8361,5.8428,14.9250,...,4.4666,4.7433,0.7178,1.4214,23.0347,-1.2706,-2.9275,10.2922,17.9697,-8.9996
4,train_4,0,9.8369,-1.4834,12.8746,6.6375,12.2772,2.4486,5.9405,19.2514,...,-1.4905,9.5214,-0.1508,9.1942,13.2876,-1.5121,3.9267,9.5031,17.9974,-8.8104

In [42]:
d.describe()

,target,var_0,var_1,var_2,var_3,var_4,var_5,var_6,var_7,var_8,...,var_190,var_191,var_192,var_193,var_194,var_195,var_196,var_197,var_198,var_199
count,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,...,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000
mean,0.100490,10.679914,-1.627622,10.715192,6.796529,11.078333,-5.065317,5.408949,16.545850,0.284162,...,3.234440,7.438408,1.927839,3.331774,17.993784,-0.142088,2.303335,8.908158,15.870720,-3.326537
std,0.300653,3.040051,4.050044,2.640894,2.043319,1.623150,7.863267,0.866607,3.418076,3.332634,...,4.559922,3.023272,1.478423,3.992030,3.135162,1.429372,5.454369,0.921625,3.010945,10.438015
min,0.000000,0.408400,-15.043400,2.117100,-0.040200,5.074800,-32.562600,2.347300,5.349700,-10.505500,...,-14.093300,-2.691700,-3.814500,-11.783400,8.694400,-5.261000,-14.209600,5.960600,6.299300,-38.852800
25%,0.000000,8.453850,-4.740025,8.722475,5.254075,9.883175,-11.200350,4.767700,13.943800,-2.317800,...,-0.058825,5.157400,0.889775,0.584600,15.629800,-1.170700,-1.946925,8.252800,13.829700,-11.208475
50%,0.000000,10.524750,-1.608050,10.580000,6.825000,11.108250,-4.833150,5.385100,16.456800,0.393700,...,3.203600,7.347750,1.901300,3.396350,17.957950,-0.172700,2.408900,8.888200,15.934050,-2.819550
75%,0.000000,12.758200,1.358625,12.516700,8.324100,12.261125,0.924800,6.003000,19.102900,2.937900,...,6.406200,9.512525,2.949500,6.205800,20.396525,0.829600,6.556725,9.593300,18.064725,4.836800
max,1.000000,20.315000,10.376800,19.353000,13.188300,16.671400,17.251600,8.447700,27.691800,10.151300,...,18.440900,16.716500,8.402400,18.281800,27.928800,4.272900,18.321500,12.000400,26.079100,28.500700

In [0]:
dx=d.iloc[:,2:]

In [0]:
dy=d.iloc[:,1:2]

In [76]:
dx.head()

,var_0,var_1,var_2,var_3,var_4,var_5,var_6,var_7,var_8,var_9,...,var_190,var_191,var_192,var_193,var_194,var_195,var_196,var_197,var_198,var_199
0,8.9255,-6.7863,11.9081,5.0930,11.4607,-9.2834,5.1187,18.6266,-4.9200,5.7470,...,4.4354,3.9642,3.1364,1.6910,18.5227,-2.3978,7.8784,8.5635,12.7803,-1.0914
1,11.5006,-4.1473,13.8588,5.3890,12.3622,7.0433,5.6208,16.5338,3.1468,8.0851,...,7.6421,7.7214,2.5837,10.9516,15.4305,2.0339,8.1267,8.7889,18.3560,1.9518
2,8.6093,-2.7457,12.0805,7.8928,10.5825,-9.0837,6.9427,14.6155,-4.9193,5.9525,...,2.9057,9.7905,1.6704,1.6858,21.6042,3.1417,-6.5213,8.2675,14.7222,0.3965
3,11.0604,-2.1518,8.9522,7.1957,12.5846,-1.8361,5.8428,14.9250,-5.8609,8.2450,...,4.4666,4.7433,0.7178,1.4214,23.0347,-1.2706,-2.9275,10.2922,17.9697,-8.9996
4,9.8369,-1.4834,12.8746,6.6375,12.2772,2.4486,5.9405,19.2514,6.2654,7.6784,...,-1.4905,9.5214,-0.1508,9.1942,13.2876,-1.5121,3.9267,9.5031,17.9974,-8.8104

In [0]:
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()  
dn = sc.fit_transform(dn)

In [79]:
dn = pd.DataFrame(dn)
dn.shape
dn.head()

,0,1,2,3,4,5,6,7,8,9,...,190,191,192,193,194,195,196,197,198,199
0,-0.577102,-1.273737,0.451707,-0.833709,0.235571,-0.536430,-0.334926,0.608751,-1.561580,-1.473796,...,0.263374,-1.149158,0.817469,-0.411013,0.168705,-1.578117,1.022131,-0.373968,-1.026398,0.214135
1,0.269959,-0.622138,1.190360,-0.688846,0.790975,1.539900,0.244461,-0.003525,0.858974,0.419300,...,0.966611,0.093605,0.443623,1.908764,-0.817594,1.522342,1.067654,-0.129400,0.825417,0.505685
2,-0.681113,-0.276066,0.516988,0.536516,-0.305477,-0.511033,1.769839,-0.564749,-1.561370,-1.307408,...,-0.072093,0.777997,-0.174131,-0.412316,1.151591,2.297370,-1.617906,-0.695141,-0.381449,0.356681
3,0.125158,-0.129426,-0.667575,0.195355,0.927992,0.410672,0.500633,-0.474201,-1.843910,0.548767,...,0.270216,-0.891456,-0.818468,-0.478548,1.607869,-0.789517,-0.959020,1.501744,0.697118,-0.543502
4,-0.277303,0.035610,0.817683,-0.077829,0.738607,0.955574,0.613372,0.791544,1.794753,0.090006,...,-1.036191,0.688988,-1.405987,1.468536,-1.501101,-0.958473,0.297627,0.645537,0.706318,-0.525375

In [0]:
#merge dx with dy

dt=pd.concat([dy, ds], axis=1)

In [67]:
dt.head(2)

,target,0,1,2,3,4,5,6,7,8,...,190,191,192,193,194,195,196,197,198,199
0,0,-0.577102,-1.273737,0.451707,-0.833709,0.235571,-0.53643,-0.334926,0.608751,-1.561580,...,0.263374,-1.149158,0.817469,-0.411013,0.168705,-1.578117,1.022131,-0.373968,-1.026398,0.214135
1,0,0.269959,-0.622138,1.190360,-0.688846,0.790975,1.53990,0.244461,-0.003525,0.858974,...,0.966611,0.093605,0.443623,1.908764,-0.817594,1.522342,1.067654,-0.129400,0.825417,0.505685

In [0]:
from sklearn.model_selection import train_test_split

train, test = train_test_split(dt, test_size=0.2)

In [69]:
train.describe()

,target,0,1,2,3,4,5,6,7,8,...,190,191,192,193,194,195,196,197,198,199
count,160000.000000,160000.000000,160000.000000,160000.000000,160000.000000,160000.000000,160000.000000,160000.000000,160000.000000,160000.000000,...,160000.000000,160000.000000,160000.000000,160000.000000,160000.000000,160000.000000,160000.000000,160000.000000,160000.000000,160000.000000
mean,0.100569,0.002139,0.001689,0.000262,-0.000622,0.002179,0.000014,0.001191,-0.000607,0.000073,...,-0.000426,-0.000338,0.002010,0.001113,0.000807,-0.001292,0.000837,0.000257,-0.001007,-0.001649
std,0.300758,0.999967,0.999682,1.000254,1.000397,1.000014,0.998973,0.999633,0.999641,0.999951,...,0.999618,1.000410,1.000067,1.001187,0.999635,0.999206,0.999620,0.999787,1.000296,0.998627
min,0.000000,-3.364134,-3.312510,-3.255758,-3.345903,-3.698703,-3.496937,-3.488612,-3.275579,-3.083234,...,-3.779447,-3.350719,-3.716563,-3.786347,-2.966165,-3.432292,-3.027477,-3.198224,-3.178883,-3.403554
25%,0.000000,-0.730586,-0.766346,-0.755207,-0.756934,-0.735075,-0.777647,-0.737762,-0.761103,-0.781145,...,-0.721229,-0.755023,-0.700791,-0.688273,-0.753068,-0.720326,-0.777532,-0.710440,-0.678873,-0.754857
50%,0.000000,-0.048030,0.006499,-0.049431,0.012661,0.019818,0.029735,-0.025154,-0.027750,0.032658,...,-0.007279,-0.028449,-0.014501,0.019220,-0.010585,-0.023795,0.019913,-0.021980,0.021316,0.047038
75%,0.000000,0.687387,0.737653,0.682122,0.747901,0.731661,0.760381,0.685493,0.748683,0.796478,...,0.693388,0.686019,0.694838,0.721602,0.767120,0.678841,0.780049,0.743191,0.727383,0.779351
max,1.000000,3.169391,2.964030,3.005394,3.128139,3.059779,2.838130,3.506501,3.260893,2.960770,...,3.334816,3.068899,4.379381,3.744977,3.168908,2.959480,2.936766,3.355213,3.390432,3.049173

In [70]:
print(train.shape)
test.shape

(160000, 201)

(40000, 201)

In [0]:
X_train=train.iloc[:,1:]
X_test=test.iloc[:,1:]
y_train=train.iloc[:,0:1]
y_test=test.iloc[:,0:1]

In [80]:
X_test.describe()

,0,1,2,3,4,5,6,7,8,9,...,190,191,192,193,194,195,196,197,198,199
count,40000.000000,40000.000000,40000.000000,40000.000000,40000.000000,40000.000000,40000.000000,40000.000000,40000.000000,40000.000000,...,40000.000000,40000.000000,40000.000000,40000.000000,40000.000000,40000.000000,40000.000000,40000.000000,40000.000000,40000.000000
mean,-0.008555,-0.006757,-0.001050,0.002488,-0.008718,-0.000056,-0.004762,0.002430,-0.000291,-0.003683,...,0.001704,0.001352,-0.008040,-0.004450,-0.003228,0.005167,-0.003346,-0.001026,0.004026,0.006596
std,1.000113,1.001269,0.999010,0.998432,0.999921,1.004123,1.001476,1.001457,1.000220,0.999769,...,1.001550,0.998382,0.999717,0.995250,1.001478,1.003180,1.001537,1.000878,0.998831,1.005473
min,-3.378739,-3.062907,-3.235992,-3.318300,-3.183469,-2.753847,-3.532923,-2.825237,-3.237586,-2.737614,...,-3.800018,-3.082532,-3.884107,-3.551403,-2.822567,-3.581239,-2.818800,-2.922732,-3.064135,-3.241454
25%,-0.738201,-0.776309,-0.751875,-0.744895,-0.742622,-0.787516,-0.748638,-0.761878,-0.779292,-0.767356,...,-0.725067,-0.751087,-0.708570,-0.686776,-0.758060,-0.716653,-0.786062,-0.714590,-0.673526,-0.756351
50%,-0.061583,-0.003279,-0.058633,0.020149,0.013811,0.028604,-0.037617,-0.020245,0.034024,0.036770,...,-0.005086,-0.036602,-0.030836,0.004453,-0.015018,-0.011971,0.017383,-0.020516,0.019655,0.052691
75%,0.670825,0.735765,0.682179,0.745906,0.718923,0.766947,0.685406,0.744807,0.795570,0.818833,...,0.704144,0.686151,0.675493,0.711689,0.764146,0.684927,0.778399,0.745795,0.733112,0.794065
max,3.090116,2.733834,3.270797,2.999231,3.445820,2.798477,3.158130,3.233363,2.771160,2.895603,...,3.313192,3.010882,3.890143,3.461562,3.027607,3.088768,2.732104,3.209492,3.225334,2.956560

In [73]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix,accuracy_score
RFC = RandomForestClassifier()  
             
RFC.fit(X_train, y_train)  
y_pred = RFC.predict(X_test)

print(confusion_matrix(y_test,y_pred))
print("Accuracy score is "+str(accuracy_score(y_test,y_pred)))

/usr/local/lib/python3.6/dist-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """

[[35945    48]
 [ 3947    60]]
Accuracy score is 0.900125

[[35822    54]
 [ 4050    74]]
Accuracy score is 0.8974

In [83]:
from sklearn.linear_model import LogisticRegression 
from sklearn.metrics import confusion_matrix,accuracy_score

model = LogisticRegression()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

print(confusion_matrix(y_test,y_pred))
print("Accuracy score is "+str(accuracy_score(y_test,y_pred)))

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

[[35449   544]
 [ 2903  1104]]
Accuracy score is 0.913825

[[35367   509]
 [ 3020  1104]]
Accuracy score is 0.911775

In [11]:
from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score,confusion_matrix

model = XGBClassifier()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

print(confusion_matrix(y_test,y_pred))
print("Accuracy score is "+str(accuracy_score(y_test,y_pred)))

/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/label.py:219: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/label.py:252: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

[[35867     9]
 [ 4058    66]]
Accuracy score is 0.898325

In [84]:
from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score,confusion_matrix

model = XGBClassifier()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

print(confusion_matrix(y_test,y_pred))
print("Accuracy score is "+str(accuracy_score(y_test,y_pred)))

/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/label.py:219: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/label.py:252: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

[[35989     4]
 [ 3942    65]]
Accuracy score is 0.90135

In [12]:
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis as LDA

lda = LDA(n_components=2)  
lda.fit_transform(X_train, y_train)

y_pred = lda.predict(X_test) 
print(confusion_matrix(y_test,y_pred))
print("Accuracy score is "+str(accuracy_score(y_test,y_pred)))

/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

[[35334   542]
 [ 2986  1138]]
Accuracy score is 0.9118

In [81]:
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis as LDA

lda = LDA(n_components=2)  
lda.fit_transform(X_train, y_train)

y_pred = lda.predict(X_test) 
print(confusion_matrix(y_test,y_pred))
print("Accuracy score is "+str(accuracy_score(y_test,y_pred)))

/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

[[35429   564]
 [ 2875  1132]]
Accuracy score is 0.914025