<a href="https://colab.research.google.com/github/ogut77/LogisticRegression/blob/master/XGBoost.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [80]:
#import data
import pandas as pd
data=pd.read_excel("https://hogut.weebly.com/uploads/1/8/1/6/18163409/bookbinder2.xls")
#Let's see first five observation
print(data[:5])

   Gender  Amount purchased  Frequency  Last purchase  First purchase  \
0       1               113          8              1               8
1       1               418          6             11              66
2       1               336         18              6              32
3       1               180         16              5              42
4       0               320          2              3              18

   P_Child  P_Youth  P_Cook  P_DIY  P_Art     Staus Choice
0        0        1       0      0      0  Training      Y
1        0        2       3      2      3  Training      Y
2        2        0       1      1      2  Training      Y
3        2        0       0      1      1  Training      Y
4        0        0       0      1      2  Training      Y

In [81]:
#Descriptive Statistics
print(data.describe())

            Gender  Amount purchased    Frequency  Last purchase  \
count  3900.000000       3900.000000  3900.000000     3900.00000
mean      0.675128        197.590256    12.897949        3.11641
std       0.468387         95.784258     8.085644        2.94487
min       0.000000         15.000000     2.000000        1.00000
25%       0.000000        122.000000     8.000000        1.00000
50%       1.000000        200.000000    12.000000        2.00000
75%       1.000000        270.000000    16.000000        4.00000
max       1.000000        474.000000    36.000000       12.00000

       First purchase      P_Child      P_Youth       P_Cook        P_DIY  \
count     3900.000000  3900.000000  3900.000000  3900.000000  3900.000000
mean        22.736410     0.733077     0.340513     0.775128     0.400000
std         15.900152     1.031578     0.629651     1.050628     0.698439
min          2.000000     0.000000     0.000000     0.000000     0.000000
25%         12.000000     0.000000     0.000000     0.000000     0.000000
50%         18.000000     0.000000     0.000000     0.000000     0.000000
75%         30.000000     1.000000     1.000000     1.000000     1.000000
max         96.000000     8.000000     5.000000     6.000000     4.000000

             P_Art
count  3900.000000
mean      0.368974
std       0.667274
min       0.000000
25%       0.000000
50%       0.000000
75%       1.000000
max       5.000000

In [82]:
#Descriptive Statistcs of Categoric Variable Staus
data['Staus'].value_counts()

Test        2300
Training    1600
Name: Staus, dtype: int64

In [3]:
#Descriptive Statistcs of Categoric Variable Choice
#Choice is dependent variable
data['Choice'].value_counts()

N    3296
Y     604
Name: Choice, dtype: int64

In [4]:
#Descriptive Statistics of Numeric Variables
#when it is group by Choice ans Staus
data.groupby(['Choice','Staus']).mean()

                  Gender  Amount purchased  Frequency  Last purchase  \
Choice Staus
N      Test      0.70229        193.533397  13.720420       2.999046
       Training  0.69750        194.416667  13.336667       2.951667
Y      Test      0.52451        213.191176   9.029412       3.676471
       Training  0.54250        220.412500   9.245000       3.940000

                 First purchase   P_Child   P_Youth    P_Cook     P_DIY  \
Choice Staus
N      Test           22.969466  0.729485  0.341603  0.791985  0.413645
       Training       22.546667  0.734167  0.327500  0.784167  0.393333
Y      Test           21.598039  0.720588  0.352941  0.720588  0.328431
       Training       22.665000  0.755000  0.367500  0.687500  0.385000

                    P_Art
Choice Staus
N      Test      0.284351
       Training  0.273333
Y      Test      0.799020
       Training  0.880000

In [5]:
data.groupby(['Choice','Staus']).count()

                 Gender  Amount purchased  Frequency  Last purchase  \
Choice Staus
N      Test        2096              2096       2096           2096
       Training    1200              1200       1200           1200
Y      Test         204               204        204            204
       Training     400               400        400            400

                 First purchase  P_Child  P_Youth  P_Cook  P_DIY  P_Art
Choice Staus
N      Test                2096     2096     2096    2096   2096   2096
       Training            1200     1200     1200    1200   1200   1200
Y      Test                 204      204      204     204    204    204
       Training             400      400      400     400    400    400

In [108]:
from sklearn import preprocessing
import numpy as np
#Convert Categoric Data to 1 if Choice==Y and Choice==N 
data['Ch']=np.where(data['Choice'] =='Y', 1,0)

data.head(5)

,Gender,Amount purchased,Frequency,Last purchase,First purchase,P_Child,P_Youth,P_Cook,P_DIY,P_Art,Staus,Choice,Ch
0,1,113,8,1,8,0,1,0,0,0,Training,Y,1
1,1,418,6,11,66,0,2,3,2,3,Training,Y,1
2,1,336,18,6,32,2,0,1,1,2,Training,Y,1
3,1,180,16,5,42,2,0,0,1,1,Training,Y,1
4,0,320,2,3,18,0,0,0,1,2,Training,Y,1

In [109]:
Training = data['Staus']=='Training'
Test = data['Staus']=='Test'
TrainingData=data[Training]
TestData=data[Test]
#Select dependent variables and independent variables for Test and Train data
X_train=TrainingData.iloc[:,:-3]
X_test=TestData.iloc[:,:-3]
y_train=TrainingData.iloc[:,-1]
y_test=TestData.iloc[:,-1]

print(y_test)

1600    1
1601    1
1602    1
1603    1
1604    1
1605    1
1606    1
1607    1
1608    1
1609    1
1610    1
1611    1
1612    1
1613    1
1614    1
1615    1
1616    1
1617    1
1618    1
1619    1
1620    1
1621    1
1622    1
1623    1
1624    1
1625    1
1626    1
1627    1
1628    1
1629    1
       ..
3870    0
3871    0
3872    0
3873    0
3874    0
3875    0
3876    0
3877    0
3878    0
3879    0
3880    0
3881    0
3882    0
3883    0
3884    0
3885    0
3886    0
3887    0
3888    0
3889    0
3890    0
3891    0
3892    0
3893    0
3894    0
3895    0
3896    0
3897    0
3898    0
3899    0
Name: Ch, Length: 2300, dtype: int64

In [112]:



from xgboost import XGBClassifier

from sklearn.metrics import accuracy_score,confusion_matrix

model = XGBClassifier()
model.fit(X_train, y_train)
# make predictions for test data
y_pred = model.predict(X_test)
print(confusion_matrix(y_test,y_pred))
print("Accuracy score is "+str(accuracy_score(y_test,y_pred)))

[[1982  114]
 [ 139   65]]
Accuracy score is 0.89